body {
  font-family: sans-serif;
  /*background-color: #c3e3fe;*/
}

ul {
  text-decoration: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  padding-top: 5px;
  padding-left: 15px;
  border: 1px solid #5A98D0;
  box-sizing: border-box;
  border-radius: 20px;
  opacity: 0.7;
}

input:active {
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-color: #5A98D0;
}

label {
  margin-top: 10px;
  color: #5A98D0;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.logo_market {
  max-width: 40px;
  max-height: 40px;
  margin-right: 12px;
}

.btn_dark {
  background: #5A98D0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-color: #5A98D0;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  padding: 5px 15px;
  opacity: 1;
}

.btn_dark:hover {
  background: #5e9fda;
  border-color: #5e9fda;
}

.btn_mini {
  padding: 2px;
  border-radius: 50px;
  min-width: 25px;
  margin-left: 2px;
}

.btn_light {
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border: 2px solid #5A98D0;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #1a1a1a;
  padding: 5px 15px;
}

.btn_light:hover {
  color: black;
}

.navbar-btm {
  margin-left: 10px;
  position: sticky;
  top: 2em;
  min-height: 2em;
}

.custom-nav {
  /*margin: 0 1px;*/
  /*border-bottom-left-radius: 10px;*/
  /*border-bottom-right-radius: 10px;*/
  box-shadow: 10px 20px 80px rgba(24, 30, 35, 0.7);
}

.top {
  /*background: linear-gradient(0deg, #EBF3FB 76.84%, rgba(152, 195, 232, 0.2) 86.12%)*/
}

.heading {
  padding-left: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.text_head {
  font-weight: 300;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
}

.text_bg {
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
}

.text_md {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.text_sm {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
}

.text_mini {
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.text_price {
  color: #b91616;
}

.text_center {
  text-align: center;
}

.text_bold {
  font-weight: bold;
}

.text_optical {
  opacity: 0.6;
}

.text_dark {
  color: #5A98D0;
}

.text_light {
  color: #FFFFFF;
}

.heading {
  padding-left: 10px;
  padding-top: 50px;
  padding-bottom: 10px;
}

.line {
  min-height: 2px;
  background-color: #5A98D0;
  border-color: #5A98D0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.pager_middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 2em;
  height: 70vh;
}

.btn_page {
  margin-left: 5px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
}

.btn_page_display {
  opacity: 0.3;
}

.btn_page:hover {
  opacity: 0.6;
}

#btn_left {
  background-image: url("/static/img/img/arrow.png");
  transform: rotate(180deg);
}

#btn_right {
  background-image: url("/static/img/img/arrow.png");
}

.custom_panel {
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product_card {
  max-width: 220px;
  max-height: 450px;
  min-width: 220px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_border {
  background-color: #e1edf9;
  border: 2px solid #5A98D0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.5);
}

.product_card_heading {
  /*background: linear-gradient(0deg, #EBF3FB 76.84%, rgba(16, 112, 177, 0.2) 86.12%);*/
  /*border-radius: 5px;*/
  /*padding: 5px;*/
}

.product_card_content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product_card_info {
  /*border-radius: 5px;*/
  /*border: 1px solid $color_1;*/
  height: 100%;
  /*padding: 5px;*/
}

.product_card_buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card_img {
  max-height: 150px;
  margin: 0 auto;
}

.cart-item {
  display: flex;
}

.cart-form {
  margin-right: 2px;
}

.product_item {
  background-color: #e1edf9;
}

.shop_wrapper {
  display: flex;
}

.shop_menu {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  height: 70vh;
  position: sticky;
  top: 2em;
  min-height: 2em;
}

.filter {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.cart-panel {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.page_items {
  width: 100%;
}

.page_number {
  width: 100px;
}

.pager {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px 0;
}

.pager_bottom {
  margin-left: 5px;
  margin-right: 5px;
  width: 250px;
}

.constructor {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  flex-grow: 1;
}

.footer {
  background: #316099;
}

.footer_top {
  padding-top: 15px;
  min-height: 115px;
}

.tb_thead {
  background: #5A98D0;
  color: #e1edf9;
}

.footer_line {
  background: #e1edf9;
  height: 2px;
  opacity: 0.8;
}

.footer_bottom {
  min-height: 40px;
}

.footer_info {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer_info__item {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.footer_info__item ul {
  padding: 0;
}

.a_light:hover {
  color: #FFFFFF;
  opacity: 1;
}

.label_reg {
  min-width: 250px;
}

.reg_btn_panel {
  display: flex;
  justify-content: flex-end;
}

.reg_btn {
  padding: 14px 40px;
}

/*# sourceMappingURL=style.css.map */
